.card {
    display: flex;
    flex-direction:row;
    margin-left: 130px;
    width: 80%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(217, 213, 213, 0.1),
                0 0  0 2px rgb(250, 248, 248),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }   
.flip-card {
    background-color: transparent;
    margin: 15px;
    width: 190px;
    height: 254px;
    perspective: 500px;
    font-family: sans-serif;
    display:flex;
  }
  
  .title {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }
  
  .title2 {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(246, 243, 242);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(255, 255, 255) 75%, rgb(30, 30, 30) 120%,
       rgb(85, 84, 84) 80%, rgba(39, 38, 38, 0.603) 75%);
    color: rgb(18, 17, 17);
  }
  .flip-card-front p{
    color:black;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(45, 44, 44) 30%, rgb(60, 60, 59) 88%,
       rgb(31, 31, 30) 40%, rgb(51, 50, 50) 78%);
    color: rgb(184, 169, 169);
    transform: rotateY(180deg);
  }
  .btn {
    font-size: 17px;
    background: transparent;
    margin-left: 25px;
    width:75%;
    border: none;
    border-radius: 45px;
    margin-top: 40px;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  .btn::before {
    border-radius: 45px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: .5s ease;
  }
  
  .btn:hover {
    color: #1e1e2b;
    border-radius: 45px;
    transition-delay: .5s;
  }
  
  .btn:hover::before {
    width: 100%;
    border-radius: 45px;
  }
  
  .btn::after {
    border-radius: 45px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: .4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    border-radius: 50px;
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }